# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 150
indent_style = space
indent_size = 4
ij_continuation_indent_size = 8

[*.md]
max_line_length = 80

[**/lang/*.json]
indent_size = 2


